Asmare Belay (Engineering Hydrology)_Wollo University Kombolcha Institute of Technology (WU_KIoT)

Set up virtual environment for Python using Anaconda

Anaconda is an open source software that contains Jupyter, spyder, etc that are used for large data processing, data analytics, heavy scientific computing.

Anaconda works for R and Python programming language. Package versions are managed by the package management system conda.

https://www.geeksforgeeks.org/how-to-install-anaconda-on-windows/

https://www.geeksforgeeks.org/how-to-install-anaconda-on-linux/

Step 1: Check if conda is installed in your path.

Open up the anaconda command prompt.
Type conda -V  and press enter.
If the conda is successfully installed in your system you should see a similar output.

conda -V

Step 2: Update the conda environment

Enter the following in the anaconda prompt

conda update conda

Step 3: Set up the virtual environment

Type conda search “^python$”  to see the list of available python versions.

Now replace the envname with the name you want to give to your virtual environment and replace x.x with the python version you want to use.

conda create -n envname python=x.x anaconda

Let’s create a virtual environment name Geeks for Python3.6

(base) C:\Users\user>conda create -n datatype

Step 4: Activating the virtual environment

To see the list of all the available environments use command conda info -e

To activate the virtual environment, enter the given command and replace your given environment name with datatype

conda activate datatype

Step 5: Installation of required packages to the virtual environment

Type the following command to install the additional packages to the environment and replace envname with the name of your environment.

conda install -n yourdatatype package

Step 6: Deactivating the virtual environment

To come out of the particular environment type the following command. The settings of the environment will remain as it is.

conda deactivate

Step 7: Deletion of virtual environment

If you no longer require a virtual environment. Delete it using the following command and replace your environment name with datatype

conda remove -n datatype -all

https://www.geeksforgeeks.org/set-up-virtual-environment-for-python-using-anaconda/

In Python, especially when using Anaconda, you often use various packages to work with data types, data structures, and for data analysis. Here's a list of some commonly used packages in Python with Anaconda that deal with different data types:

NumPy, Pandas, Matplotlib, Seaborn, SciPy, Scikit-learn, TensorFlow, PyTorch, OpenCV, Dask

In [41]:
import sys
import keyword
import operator
from datetime import datetime
import os

Keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [45]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [47]:
len(keyword.kwlist) # Python contains 35 keywords

35

Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

Statements

Instructions that a Python interpreter can execute.

In [53]:
# Single line statement
p1 = 10 + 20
p1

30

In [55]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2

['a', 'b', 'c', 'd']

In [57]:
# Multiple line statement
p1 = 20 + 30 \
 + 40 + 50 +\
 + 70 + 80
p1

290

In [59]:
# Multiple line statement
p2 = ['a' , 
 'b' , 
 'c' , 
 'd'
 ]
p2

['a', 'b', 'c', 'd']

Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
indentation to indicate a block of code.If the indentation is not correct we will endup with
IndentationError error.

In [65]:
p = 10
if p == 10:
 print ('P is equal to 10') # correct indentation

P is equal to 10

In [67]:
# if indentation is skipped we will encounter "IndentationError"
p = 10
if p == 10:
print ('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 3 (3897391210.py, line 4)

In [69]:
for i in range(0,5):
 print(i) # correct indentation

0
1
2
3
4

Variables

A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

In [73]:
p = 70

In [75]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
 - Guaranteed to be unique
 - Constant for this object during its lifetime. 
'''
id(p)

140716456201160

In [77]:
hex(id(p)) # Memory address of the variable

'0x7ffb1a62cbc8'

In [79]:
p = 20 #Creates an integer object with value 20 and assigns the variable p 
q = 20 # Create new reference q which will point to value 20. 
r = q # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location

(20, int, '0x7ffb1a62c588')

In [81]:
r , type(r), hex(id(r))

(20, int, '0x7ffb1a62c588')

In [83]:
p = 20
p = p + 10 # Variable Overwriting
p

30

Variable Assigment

In [88]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

Multiple Assignments

In [91]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [93]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

Data Types

1.Numeric

In [97]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int))

10
<class 'int'>
28
10  is Integer? True

In [99]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float))

92.78
<class 'float'>
24
92.78  is float? True

In [101]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex))

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [103]:
sys.getsizeof(int()) # size of integer object in bytes

28

In [105]:
sys.getsizeof(float()) # size of float object in bytes

24

In [107]:
sys.getsizeof(complex()) # size of complex object in bytes

32

2.Boolean

Boolean data type can have only two possible values true or false.

In [111]:
bool1 = True

In [113]:
bool2 = False

In [115]:
print(type(bool1))

<class 'bool'>

In [117]:
print(type(bool2))

<class 'bool'>

In [119]:
isinstance(bool1, bool)

True

2. Strings

str (String) Data Type is used when the programmer wants the data to be represented as exact 
words that are either hard coded into the program or gained from the user. A String data type 
is always enclosed in quotation marks.

String Creation

In [124]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [126]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [128]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [130]:
mystr = '''Hello 
 World ''' # Define string using triple quotes
print(mystr)

Hello
 World

In [132]:
mystr = """Hello
 World""" # Define string using triple quotes
print(mystr)

Hello
 World

In [134]:
mystr = ('Happy '
 'Monday '
 'Everyone')
print(mystr)

Happy Monday Everyone

In [136]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [138]:
len(mystr2) # Length of string

35

String Indexing

In [141]:
str1

'HELLO PYTHON'

In [143]:
str1[0] # First character in string "str1"

'H'

In [145]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [147]:
str1[-1] # Last character in string

'N'

In [149]:
str1[6] #Fetch 7th element of the string

'P'

In [151]:
str1[5]

' '

String Slicing

In [154]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location

'HELLO'

In [156]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc

'PYTHON'

In [158]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [160]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [162]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [164]:
str1[:6] # Retreive first six characters of the string

'HELLO '

Update & Delete String

In [167]:
str1

'HELLO PYTHON'

In [169]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

String concatenation

In [172]:
# String concatenation
s1 = "Hello"
s2 = "Asmare B."
s3 = s1 + s2
print(s3)

HelloAsmare B.

In [174]:
# String concatenation
s1 = "Hello"
s2 = "Asmare B."
s3 = s1 + " " + s2
print(s3)

Hello Asmare B.

Iterating through a String

In [177]:
mystr1 = "Hello Everyone"

In [179]:
# Iteration 
for i in mystr1:
 print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [181]:
for i in enumerate(mystr1):
 print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [183]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

String Membership

In [186]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string 
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string

True
True
False

String Functions

In [189]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [191]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [193]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [195]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [197]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [199]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [201]:
mystr2 = " Hello Everyone "

In [203]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [205]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [207]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [209]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [211]:
mystr5 = "one two Three one two two three"

In [213]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [215]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [217]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

List

1) List is an ordered sequence of items.

2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

list Data Type is used to represent and organize a series of data, whether it be numbers, letters, 
or words, and assign them to a single variable. This series of data can be changed later, but they 
must always be enclosed in brackets [ ].

In [225]:
list1 = [] # Empty List

In [227]:
print(type(list1))

<class 'list'>

In [229]:
list4 = ['one','two' , "three"] # List of strings

In [231]:
list4[0] # Retreive first element of the list

'one'

In [233]:
list4[0][0] # Nested indexing - Access the first character of the first list elem

'o'

In [235]:
list4[-1] # Last item of the list

'three'

List Slicing

In [238]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [240]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [242]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [244]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

Add , Remove & Change Items

In [247]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [249]:
mylist.append('nine') # Add an item to the end of the list 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [251]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [253]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [255]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [257]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [259]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [261]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [263]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [265]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

Join Lists

In [268]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [270]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [272]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

Reverse & Sort List

In [275]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [277]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [279]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [281]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [283]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [285]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

tuple Data Type is like the list data type in the sense that it stores multiple values in a single 
variable. Unlike a list, however, once tuples are created, neither the order nor the contents of it 
can be changed. It is also enclosed in parentheses rather than brackets.

Tuple Creation

In [293]:
tup1 = () # Empty tuple

In [295]:
tup2 = (10,30,60) # tuple of integers numbers

In [297]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [299]:
tup4 = ('one','two' , "three") # tuple of strings

In [301]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [303]:
len(tup6) #Length of list

3

Sets

1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

In [309]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [311]:
len(myset) #Length of the set

5

In [313]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [315]:
myset2 = {'Samule' , 'Tewodros' , 'Alemayew'} # Set of Strings
myset2

{'Alemayew', 'Samule', 'Tewodros'}

In [317]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [319]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [321]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

Set Operation

Union

In [325]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [327]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [329]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [331]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [333]:
"""
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection

In [340]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [342]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

Difference

In [346]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [348]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [350]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed.

dict (Dictionary) Data Type is similar to both the tuple and list data types, except rather than 
holding one value in each part of it (like 1, 2, 3, 4, 5), dictionaries hold a value pair, one acts as a 
key, and the other the value associated with it (like animal: cat, name: fluffy). These value pairs 
are changeable, so the dict data type acts like an actual dictionary, except instead of pages, it is 
enclosed in curly brackets { }.

Create Dictionary

In [358]:
mydict = dict() # empty dictionary
mydict

{}

In [360]:
mydict = {} # empty dictionary
mydict

{}

In [362]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [364]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

Operators
Operators are special symbols in Python which are used to perform operations on
variables/values.

Arithmetic Operators

In [372]:
a = 5
b = 2
x = 'Asmare'
y = 'Zemenu'
# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a,b,c))
#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z,x,y))
 
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))
 
# Multiplication
c = a * b 
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))
 
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))
 
# Modulo of both number 
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))
 
# Power 
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- AsmareZemenu

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

Comparison Operators

Comparison operators are used to compare values.

In [376]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('\nIs x less than y :- ',x<y)
print('\nIs x equal to y :- ',x==y)
print('\nIs x not equal to y :- ',x!=y)
print('\nIs x greater than or equal to y :- ',x>=y)
print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than y :-  True

Is x equal to y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [378]:
a = 'Asif'
b = 'Bhat'
c = 'Asif'
a == b , a ==c , a != b # Comparison operators on string

(False, True, True)

Logical Operators

In [381]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False